.simple-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-item {
    background-color: green;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
}